.non-selectable-text {
  user-select: none !important; /* Standardowa właściwość CSS */
  -webkit-user-select: none !important; /* Właściwość dla przeglądarki Safari i Chrome */
  -moz-user-select: none !important; /* Właściwość dla przeglądarki Firefox */
  -ms-user-select: none !important; /* Właściwość dla przeglądarki Internet Explorer/Edge */
}




@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@keyframes showAnimLev1 {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes showAnim {
  from {
    opacity: 0;
    transform: translateX(400px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f0e6f6;  
}

::-webkit-scrollbar-thumb {
  background-color: #A758B5;
  border-radius: 10px;
  border: 3px solid #f0e6f6;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9342a0;
}

::-webkit-scrollbar-corner {
  background: #f0e6f6;
}





@keyframes anim {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(.6);
  }
  100%{
    transform: scale(1);
  }
}