.non-selectable-text {
  user-select: none !important; /* Standardowa właściwość CSS */
  -webkit-user-select: none !important; /* Właściwość dla przeglądarki Safari i Chrome */
  -moz-user-select: none !important; /* Właściwość dla przeglądarki Firefox */
  -ms-user-select: none !important; /* Właściwość dla przeglądarki Internet Explorer/Edge */
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/public/fonts/EBGaramond-Italic-VariableFont_wght.woff2') format('woff2'),
       url('/public/fonts/EBGaramond-Italic-VariableFont_wght.woff') format('woff'),
       url('/public/fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f0e6f6;  
}

::-webkit-scrollbar-thumb {
  background-color: #A758B5;
  border-radius: 10px;
  border: 3px solid #f0e6f6;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9342a0;
}

::-webkit-scrollbar-corner {
  background: #f0e6f6;
}




* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'EB Garamond', serif !important; 
  letter-spacing: 0.06em;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth !important; 

}

a {
  color: inherit;
  text-decoration: none;
}


@keyframes anim {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(.6);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes bounce {
  0%{
    transform : translateY(0)
  }

  50%{
    transform: translateY(30px)
  }

  100%{
    transform: translateY(0)
  }
}
@keyframes showSH {
  from{
    left: -80vw
  }
  to{
    left: 0vw
  }
}
@keyframes showAnimLev1 {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes showJoin {
  from{
    transform: scale(0.2) translateX(-50%);
    opacity: 0;
  }
  to{
    transform: scale(1) translateX(-50%);
    opacity: 1;
  }
}

@keyframes showAnim {
  from {
    opacity: 0;
    transform: translateX(400px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}